In [20]:
import pandas as pd

In [21]:
df = pd.read_csv('notas_completasSOPER.csv', sep=';', encoding='ISO-8859-1')

In [22]:
# drop the columns that we dont need
df.drop(df.columns[[0,1,2,3,5,6,7,9,10,11]], axis=1, inplace=True)

In [23]:
for i in range(4):
    df[df.columns[i]] = pd.to_numeric(df[df.columns[i]].str.replace(',', '.'))

In [25]:
df.describe()

        Parcial 1   Parcial 2   Parcial 3  Final Teora
count  176.000000  173.000000  173.000000    203.000000
mean     5.888125    5.420058    5.019653      5.773399
std      2.245451    2.130790    2.596569      2.062605
min      0.000000    0.000000    0.000000      0.400000
25%      4.375000    4.080000    3.200000      4.850000
50%      6.065000    5.830000    5.400000      6.200000
75%      7.342500    6.720000    6.900000      7.100000
max     10.340000    9.500000    9.700000     10.100000

In [32]:
#people who need to go to the extraordinary exam
df[df[df.columns[3]]<5][df.columns[3]].count()

51

In [35]:
print('Porcentaje de aprobados: {0:.04}%'.format(100-df[df[df.columns[3]]<5][df.columns[3]].count() / df[df.columns[3]].count() * 100))

Porcentaje de aprobados: 74.88%