In [31]:
import pandas as pd

In [35]:
df = pd.read_csv('notas_PADSOF.csv', sep=';', names=['nie', 'nota_proyect', 'pregunta1', 'pregunta2', 'pregunta3', 'pregunta4', 'nota_examen', 'nota_asignatura'])

In [36]:
#drop unnecessary rows and columns
df.drop(df.index[0:4], inplace=True)
df.drop(df.columns[0], axis=1, inplace=True)

In [38]:
#convert to supported system notation
for i in range(7):
    df[df.columns[i]] = pd.to_numeric(df[df.columns[i]].str.replace(',', '.'), errors = 'coerce')

In [41]:
df.head()

,nota_proyect,pregunta1,pregunta2,pregunta3,pregunta4,nota_examen,nota_asignatura
4,8.06,0.6,3.15,0.75,0.5,5.00,7.5
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2.36,NaN,NaN,NaN,NaN,0.00,1.7
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,8.50,NaN,3.45,1.20,1.0,5.65,8.0

In [43]:
df.describe()

,nota_proyect,pregunta1,pregunta2,pregunta3,pregunta4,nota_examen,nota_asignatura
count,202.000000,195.000000,197.000000,195.000000,191.000000,203.000000,203.000000
mean,6.548713,1.352154,2.754188,1.046385,0.523717,5.469557,6.212808
std,1.720576,0.370051,0.615836,0.329972,0.496586,1.602178,1.647631
min,1.500000,0.200000,0.000000,0.000000,0.000000,0.000000,1.300000
25%,5.620000,1.240000,2.400000,0.900000,0.000000,5.000000,4.900000
50%,6.800000,1.480000,2.800000,1.100000,0.500000,5.525000,6.400000
75%,7.700000,1.600000,3.200000,1.300000,0.750000,6.550000,7.500000
max,9.300000,1.900000,3.875000,1.700000,1.750000,8.575000,9.100000

In [48]:
#people who failed the exam
df[df['nota_examen'] < 5]['nota_examen'].count()

43

In [50]:
#percent of success of the subject
print('Porcenta de personas con la asignatura aprobada: {0:.04}%' .format(df[df['nota_asignatura']>=5]['nota_asignatura'].count() / df['nota_asignatura'].count() * 100))

Porcenta de personas con la asignatura aprobada: 68.47%