In [199]:
from tabula import read_pdf
import pandas as pd

In [200]:
df = read_pdf('Ordinaria-Notas.pdf')

In [201]:
#delete the column of nie
df.drop(df.columns[[0]], axis=1, inplace=True)

In [202]:
df.head(3)

,Unnamed: 1,Pruebas,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,Prácticas,Intermedias,P1,P2,P3,P4,Examen,Nota Teoría,Nota Final
1,"9,40","9,60","2,50","2,50","2,30","2,35","9,7","9,7","9,6"
2,"7,40","5,70","2,40","1,75","1,30",NaN,"5,5","5,6","6,4"

In [203]:
#rename the columns and drop the fist row
df.columns = list(df.values[0]) #other way, df.columns =[ 'Practica','Intermedias','P1','P2','P3','P4','Examen','Nota_Teoria','Nota_Final']
df.drop(df.index[0], inplace=True)

In [204]:
df.head(3)

  Prácticas Intermedias    P1    P2    P3    P4 Examen Nota Teoría Nota Final
1      9,40        9,60  2,50  2,50  2,30  2,35    9,7         9,7        9,6
2      7,40        5,70  2,40  1,75  1,30   NaN    5,5         5,6        6,4
3      9,30        8,00  2,40  2,00  1,85  0,10    6,4         7,1        8,0

In [215]:
# convert to a list of float, drop 'NE' and replace ',' to '.'
nota_final = [float(grade.replace(',','.' )) for grade in df['Nota Final'] if grade != 'NE']

In [230]:
#average of the course
print("Media de la asignatura: {0:.3}".format(sum(nota_final)/len(nota_final)))

Media de la asignatura: 6.68

In [239]:
#how many people pass the subject
failures = len([failure for failure in nota_final if failure < 5])
print("Personas que han pasado la asignatura: ", len(nota_final)-failures,'/', len(nota_final))
print("Personas que NO han pasado la asignatura:", failures, '/', len(nota_final))
print("El porcentaje de aprobados es: {0:.4}".format(((len(nota_final)-failures)/len(nota_final))*100))

Personas que han pasado la asignatura:  54 / 69
Personas que NO han pasado la asignatura: 15 / 69
El porcentaje de aprobados es: 78.26%