In [270]:
import pandas as pd
import numpy as np

In [271]:
df = pd.read_csv('soper_parciales.csv', sep=';', names=['NIA', 'P1', 'P2', '1', '2','3','P3','4','5','6'])

In [272]:
#delete the first two rows, delete also the column that we are not going to need, reset the index and start it by 1
df.drop(df.index[0:2], inplace=True)
df.drop(df.columns[[0, 3, 4, 5, 7, 8, 9]], axis=1, inplace=True)
df.reset_index(drop=True, inplace=True)
df.index += 1

In [273]:
df.head(5)

     P1    P2    P3
1  9,22  5,78  3,19
2  2,67  3,56   0,7
3  5,22  5,44  1,69
4  3,65  7,33  3,36
5  7,65  2,33   NaN

In [274]:
#nan is float so we need to forget about those elements
notas_p1 = [float(grade.replace(',', '.')) for grade in df['P1'] if type(grade) != float]
notas_p2 = [float(grade.replace(',', '.')) for grade in df['P2'] if type(grade) != float]
notas_p3 = [float(grade.replace(',', '.')) for grade in df['P3'] if type(grade) != float]

In [275]:
aprobados_p1 = [grade for grade in notas_p1 if grade>=5]
aprobados_p2 = [grade for grade in notas_p2 if grade>=5]
aprobados_p3 = [grade for grade in notas_p3 if grade>=5]

In [276]:
print("Porcentaje de aprobados en P1 : {0:.4}%".format(len(aprobados_p1)/len(notas_p1)*100))
print("Porcentaje de aprobados en P2 : {0:.4}%".format(len(aprobados_p2)/len(notas_p2)*100))
print("Porcentaje de aprobados en P3 : {0:.4}%".format(len(aprobados_p3)/len(notas_p3)*100))

Porcentaje de aprobados en P1 : 56.5%
Porcentaje de aprobados en P2 : 50.99%
Porcentaje de aprobados en P3 : 18.93%

In [277]:
print("Media general P1: {0:.3}".format(sum(notas_p1)/len(notas_p1)))
print("Media general P2: {0:.3}".format(sum(notas_p2)/len(notas_p2)))
print("Media general P3: {0:.3}".format(sum(notas_p3)/len(notas_p3)))

Media general P1: 5.08
Media general P2: 4.69
Media general P3: 2.96

In [278]:
print("Media aprobados P1: {0:.3}".format(sum(aprobados_p1)/len(aprobados_p1)))
print("Media aprobados P2: {0:.3}".format(sum(aprobados_p2)/len(aprobados_p2)))
print("Media aprobados P3: {0:.3}".format(sum(aprobados_p3)/len(aprobados_p3)))

Media aprobados P1: 7.12
Media aprobados P2: 6.57
Media aprobados P3: 6.97

In [279]:
#better way to use dataFrames is this: replace ',' to '.' and convert to numeric the attributes of the dataFrame

df['P1'] = pd.to_numeric(df['P1'].str.replace(',', '.'))
df['P2'] = pd.to_numeric(df['P2'].str.replace(',', '.'))
df['P3'] = pd.to_numeric(df['P3'].str.replace(',', '.'))

In [296]:
df.head()

     P1    P2    P3
1  9.22  5.78  3.19
2  2.67  3.56  0.70
3  5.22  5.44  1.69
4  3.65  7.33  3.36
5  7.65  2.33   NaN


# Data in General

In [281]:
df.describe()

               P1          P2          P3
count  223.000000  202.000000  169.000000
mean     5.080000    4.692426    2.963254
std      2.717669    2.273143    2.349764
min      0.000000    0.220000    0.000000
25%      2.670000    2.845000    1.190000
50%      5.330000    5.055000    2.630000
75%      7.215000    6.362500    3.900000
max      9.670000    9.110000   10.000000

In [295]:
# Number of people who passed the exam 3
df[df['P3']>=5]['P3'].count()

32

# Data of who passed the three exams

In [294]:
#Data of the people who passed the three exams
df[(df['P1']>=5) & (df['P3']>=5) & (df['P2']>=5)].describe()

              P1         P2         P3
count  26.000000  26.000000  26.000000
mean    7.950385   7.488462   7.063077
std     1.319292   1.237034   1.422448
min     5.010000   5.110000   5.000000
25%     7.152500   6.572500   5.717500
50%     8.420000   7.820000   6.910000
75%     8.975000   8.442500   8.257500
max     9.670000   9.110000  10.000000