In [25]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib import style
style.use('ggplot')

In [3]:
web_stats = {'Day': [1, 2, 3, 4, 5, 6],
            'Visitors': [43, 53, 34, 45, 64, 34],
            'Bounce_Rate':[65, 72, 62, 64, 54, 66]}

In [4]:
#convert to dataframe
df = pd.DataFrame(web_stats)

In [5]:
df

   Bounce_Rate  Day  Visitors
0           65    1        43
1           72    2        53
2           62    3        34
3           64    4        45
4           54    5        64
5           66    6        34

In [7]:
print(df.head())

   Bounce_Rate  Day  Visitors
0           65    1        43
1           72    2        53
2           62    3        34
3           64    4        45
4           54    5        64

In [8]:
print(df.tail())

   Bounce_Rate  Day  Visitors
1           72    2        53
2           62    3        34
3           64    4        45
4           54    5        64
5           66    6        34

In [9]:
print(df.tail(2))

   Bounce_Rate  Day  Visitors
4           54    5        64
5           66    6        34

In [10]:
print(df.head().tail(2))

   Bounce_Rate  Day  Visitors
3           64    4        45
4           54    5        64

In [11]:
df.set_index('Day') #use the day as index
                    #when you modify a dataframe it returns a new dataframe

     Bounce_Rate  Visitors
Day
1             65        43
2             72        53
3             62        34
4             64        45
5             54        64
6             66        34

In [12]:
#df is not modified
df

   Bounce_Rate  Day  Visitors
0           65    1        43
1           72    2        53
2           62    3        34
3           64    4        45
4           54    5        64
5           66    6        34

In [13]:
#refer to a specific column
df['Visitors']

0    43
1    53
2    34
3    45
4    64
5    34
Name: Visitors, dtype: int64

In [14]:
#other way
df.Visitors

0    43
1    53
2    34
3    45
4    64
5    34
Name: Visitors, dtype: int64

In [22]:
#refer to multiple columns - pay attention to the double '[]'
df[['Day', 'Visitors']]

   Day  Visitors
0    1        43
1    2        53
2    3        34
3    4        45
4    5        64
5    6        34

In [24]:
#convert a column to list
df.Day.tolist()

[1, 2, 3, 4, 5, 6]

In [27]:
#convert two columns to list - use numpy.array()
np.array(df[['Day', 'Visitors']])

array([[ 1, 43],
       [ 2, 53],
       [ 3, 34],
       [ 4, 45],
       [ 5, 64],
       [ 6, 34]])

In [29]:
pd.DataFrame(np.array(df[['Day', 'Visitors']]))

   0   1
0  1  43
1  2  53
2  3  34
3  4  45
4  5  64
5  6  34